@model Perseus.Models.HKNewsPaperViewModel

@{
    ViewBag.Title = "Hírlevél összeállítása";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>
<div id="rsserror" style="display: none;">
    <div class="alert alert-danger">
        Az RSS betöltése nem sikerült!
        <a href="#" class="alert alert-link" data-bind="click: loadRss">Próbáld újra!</a>
    </div>
</div>

<form role="form">
    <div class="form-group">
        <label for="RPublisher">Felelős kiadó</label>
        <input type="text" data-bind="value: paper.RPublisher" class="form-control infopopover" id="RPublisher"
               data-toggle="popover" data-placement="right" data-content="A felelős kiadó mindig az aktuális Hallgatói Képviselet elnöke." data-original-title="INFO" data-trigger="focus" />
    </div>
    <div class="form-group">
        <label for="REditor">Felelős szerkesztő</label>
        <input type="text" data-bind="value: paper.REditor" class="form-control infopopover" id="REditor"
               data-toggle="popover" data-placement="right" data-content="A felelős szerkesztő mindig az aktuális Hallgatói Képviselet PR felelőse." data-original-title="INFO" data-trigger="focus" />
    </div>
    <div class="form-group">
        <label for="Editor">Szerkesztő</label>
        <input type="text" data-bind="value: paper.UserName" disabled class="form-control" id="Editor" />
    </div>
    <div class="form-group">
        <label for="Title">Cím</label>
        <input type="text" data-bind="value: paper.Title" class="form-control infopopover" id="Title"
               data-toggle="popover" data-placement="right" data-content="Ha üresen hagyod a címet, a hírek címeiből fogja összefűzni automatikusan." data-original-title="INFO" data-trigger="focus" />
    </div>
    <a data-toggle="modal" data-target=".rss-list" class="btn btn-primary">
        <span class="glyphicon glyphicon-list"></span> Hozzáadás a honlapról
    </a>
    <a data-toggle="modal" data-target=".new-item" class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span> Új hír hozzáadása
    </a>
    <br /><br />
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Cím</th>
                <th>Törzs</th>
                <th style="width: 1%;">Műveletek</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: paper.NewsItems">
            <tr>
                <td><a data-bind="attr: { href: Link }, text: Title" target="_blank"></a></td>
                <td data-bind="html: Body"></td>
                <td>
                    <a href="#" data-bind="click: $root.removeItem"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#" data-bind="click: $root.editItem"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="text-right">
        @Html.ActionLink("Elvetés", "Index", "HKNews", null, new { @class = "btn btn-default" })
        <a class="btn btn-primary" data-bind="click: saveDraft">Mentés piszkozatként</a>
        <a class="btn btn-success" data-bind="click: sendPaper">Küldés</a>
    </div>
</form>

@section modals{
    <div class="modal fade rss-list" tabindex="-1" role="dialog" aria-labelledby="rssListModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Hírek a honlapról</h4>
                </div>
                <div class="modal-body">
                    <ul data-bind="foreach: RSSItems">
                        <li><a data-bind="text: Title, attr: { href: '#' }, click: $root.addNews"></a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade edit-item" tabindex="-1" role="dialog" aria-labelledby="editItemModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Hír szerkesztése</h4>
                </div>
                <div class="modal-body" data-bind="with: editeditem">
                    <div class="form-group">
                        <label for="edititemtitle">Cím</label>
                        <input id="edititemtitle" data-bind="value: Title" class="form-control" id="" />
                    </div>
                    <div class="form-group">
                        <label for="edititemlink">Link</label>
                        <input id="edititemlink" data-bind="value: Link" class="form-control" id="" />
                    </div>
                    <div class="form-group">
                        <label for="edititembody">Törzs</label>
                        <textarea id="edititembody" data-bind="value: Body" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                    <button type="button" class="btn btn-success" data-bind="click: saveEdited">Mentés</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade new-item" tabindex="-1" role="dialog" aria-labelledby="newItemModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Új hír hozzáadása</h4>
                </div>
                <div class="modal-body" data-bind="with: newitem">
                    <div class="form-group">
                        <label for="newitemtitle">Cím</label>
                        <input id="newitemtitle" data-bind="value: Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newitemlink">Link</label>
                        <input id="newitemlink" data-bind="value: Link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newitembody">Törzs</label>
                        <textarea id="newitembody" data-bind="value: Body" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewNews">Mentés</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/knockoutjs")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("feeds", "1");</script>
    <script>
        $(document).ready(function () {

            $('.infopopover').popover();

            var model = @ViewBag.model;

            //var dsa = {
            //    "Id" : 0 ,
            //    "UserId" : null,
            //    "RPublisher" : "Bakos Asztrik, a Hallgatói Képviselet elnöke",
            //    "REditor" : "Görbe Richárd, PR felelős",
            //    "Title" : "alap cím",
            //    "NewsItems" : [
            //        {"Id" : "", "Title" : "első", "Link" : "http://site.hu", "Body" : "első body"},
            //        {"Id" : "", "Title" : "második", "Link" : "http://bme.hu", "Body" : "második body"},
            //        {"Id" : "", "Title" : "harmadik", "Link" : "", "Body" : "harmadik body"}
            //    ]
            //};

            function ViewModel() {

                var self = this;
                self.paper = ko.mapping.fromJS(model);

                self.editeditemid = ko.observable();
                self.editeditem = ko.observable({
                    "Id" : "", 
                    "Title" : "", 
                    "Link" : "", 
                    "Body" : ""
                });
                self.newitem = ko.observable({
                    "Id" : "0", 
                    "Title" : "", 
                    "Link" : "", 
                    "Body" : ""
                });

                // RSS betöltéstől függően a hibamegjelenítés
                self.RSSItems = ko.observableArray();

                // műveletek->törlés
                self.removeItem = function(item) {
                    self.paper.NewsItems.remove(item);
                }

                // műveletek->szerkesztés modal
                self.editItem = function(item) {
                    self.editeditemid(self.paper.NewsItems.indexOf(item));
                    var tmp = ko.mapping.toJS(item);
                    self.editeditem(ko.mapping.fromJS(tmp));

                    $('.edit-item').modal('show');
                }

                // műveletek->szerkesztés modal mentés gombja
                self.saveEdited = function() {
                    var tmp = ko.mapping.toJS(self.editeditem);
                    ko.mapping.fromJS(tmp, {}, self.paper.NewsItems()[self.editeditemid()]);

                    $('.edit-item').modal('hide');
                }

                // hozzáadás honlapról modalon egy hírre kattintva
                self.addNews = function(item) {
                    self.paper.NewsItems.push(ko.mapping.fromJS({
                        "Id" : "", 
                        "Title" : item.Title, 
                        "Link" : item.Link, 
                        "Body" : item.Body
                    }))
                }

                // új hír hozzáadása modal
                self.newNews = function(item) {
                    self.newitem({
                        "Id" : "", 
                        "Title" : "", 
                        "Link" : "", 
                        "Body" : ""
                    });

                    $('.new-item').modal('show');
                }

                // új hír hozzáadása modal mentés gombja
                self.addNewNews = function() {
                    var tmp = ko.mapping.toJS(self.newitem);
                    self.paper.NewsItems.push(ko.mapping.fromJS(tmp));

                    $('.new-item').modal('hide');
                }

                self.log = function() {
                    console.log(ko.mapping.toJS(self.paper));
                }

                // rss betöltése google rss readerrel
                self.loadRss = function() {
                    try{
                        var feed = new google.feeds.Feed("http://vik.hk/rss.xml");
                        feed.setResultFormat(google.feeds.Feed.JSON_FORMAT);
                        feed.load(function (result) {
                            if(!result.error){
                                $('#rsserror').fadeOut('slow');
                                self.RSSItems.removeAll();
                                for(var i = 0; i < result.feed.entries.length; i++){
                                    var entry = result.feed.entries[i];
                                    self.RSSItems.push(ko.mapping.fromJS(
                                        { 
                                            "Id" : "0",
                                            "Title" : entry.title,
                                            "Link" : entry.link,
                                            "Body" : entry.content
                                        }));
                                }
                            }
                            else {
                                $('#rsserror').fadeIn('slow');
                            }
                        });
                    }
                    catch(err){
                        $('#rsserror').fadeIn('slow');
                    }
                    
                }

                self.loadRss();

                // modell küldése a szerverre
                self.sendPaper = function() {
                    var tmp = ko.mapping.toJS(self.paper);
                    if (tmp.Title == null) {
                        for (var i = 0; i < tmp.NewsItems.length; i++) {
                            if(i == 0)
                                tmp.Title = tmp.NewsItems[i].Title;
                            else
                                tmp.Title = tmp.Title + ", " + tmp.NewsItems[i].Title;
                        }
                    }

                    ko.utils.postJson('@Url.Action("Save", "HKNews")', { model: tmp });
                }

                self.saveDraft = function () {
                    self.paper.IsDraft(true);
                    self.sendPaper();
                }
            }

            ko.bindingHandlers.fadeVisible = {
                init: function(element, valueAccessor) {
                    // Initially set the element to be instantly visible/hidden depending on the value
                    var value = valueAccessor();
                    $(element).toggle(ko.unwrap(value)); // Use "unwrapObservable" so we can handle values that may or may not be observable
                },
                update: function(element, valueAccessor) {
                    // Whenever the value subsequently changes, slowly fade the element in or out
                    var value = valueAccessor();
                    ko.unwrap(value) ? $(element).fadeIn() : $(element).fadeOut();
                }
            };

            ko.bindingHandlers.sortableList = {
                init: function(element, valueAccessor) {
                    var list = valueAccessor();
                    $(element).sortable({
                        update: function(event, ui) {
                            //retrieve our actual data item
                            var item = ui.item.tmplItem().data;
                            //figure out its new position
                            var position = ko.utils.arrayIndexOf(ui.item.parent().children(), ui.item[0]);
                            //remove the item and add it back in the right spot
                            if (position >= 0) {
                                list.remove(item);
                                list.splice(position, 0, item);
                            }
                        }
                    });
                }
            };

            ko.applyBindings(new ViewModel());

        });

    </script>
}

@section styles{
    <style>
        input{
            max-width: 600px;
        }
    </style>
}